<!-- components/image-modal.html -->
<div id="imageModal" class="fixed inset-0 bg-black/85 z-[1100] hidden items-center justify-center">
    <div class="modal-content relative">
        <!-- Botón de cerrar -->
        <button onclick="window.closeImageModal()" class="close-button">
            <i class="fas fa-times text-gray-600"></i>
        </button>
        
        <!-- Imagen -->
        <img id="modalImage" src="" alt="Imagen ampliada">
        
        <!-- Nombre de la imagen (opcional) -->
        <p id="modalImageName" class="text-center mt-2 text-gray-800 font-medium"></p>
    </div>
</div>
